<!doctype html>
<html>
<head>
  <title><%= @title %></title>
</head>

<body>
  <%= yield %>
  <p>There are <%= @total_users %> users with a total of <%= total_interests %> interests.</p>
</body>
<html>